body {
    font-family: 'Lucida Grande';
    margin: 0;
}
.container-top {
    padding: 35px 15px 35px 15px;
    background-color:lightgray;
    opacity: 1; 
    border-radius: 20px;
}
.investor-image img {
    width: 37%;
    float: right;
    padding-bottom: 10px
}
.heading {
    font-size: 60px;
    padding: 10px 10px;
    margin-bottom: 10px;
    margin-right: 5px
}
.container-top p {
    font-size: 24px;
}
.heading br {
    font-size: 60px;
}
.heading span {
    color: rgb(108,99,255); 
    font-size: 65px;
}
.btn {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 23px;
    padding-right: 23px;
    color: whitesmoke;
    display: inline-block;
    opacity: 0.9;
    border-radius: 10px;
}
a {
    text-decoration: none;
}
.btn:hover {
    opacity: 1;
}
.btn-wrapper {
    margin: 20px 0px;
    font-size: 20px;
}
.btn-wrapper p {
    margin: 10px 0px;
}
.email {
    background-color: #239b51;
}
.phone {
    background-color: #237f9b;
}
.container-bottom {
    display: flex;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    height: 100px;
    padding-bottom: 80px;
    /* background-color: #f7f7f7; */
    text-align: center;
    /* background-color:mistyrose */
    box-shadow: 0 4px 8px 0 rgba(51, 51, 51, 0.2);
    border-radius: 20px;
}
.container-content {
    float: left;
    margin-right: 1%;
    margin-left: 1%;
    margin-top: 1%;
    width: 23%;
    
}
.container-content p {
    font-size: 17px;
}
.container-content h3 {
    font-size: 25px;
    color: rgb(108,99,255);
}
.container-content b {
    font-size: 17px;
}
.heading {
    text-align: center;
  }
.heading h1 {
    font-size: 30px;
    font-weight: bold;
    color: black;
}
.heading p {
    font-size: 20px;
}
.keunggulan-wrapper {
    width: 100%;
    box-sizing: border-box;
    display: block;
    align-content: center;
    margin-top: 50px;
}
.keunggulan2 {
    margin-left: auto;
    margin-right: auto;
}
.keunggulan {
    display: flex;
    flex-wrap: wrap;
    float: left;
    width: 48%;
    /* background-color: bisque; */
    /* border: 0.5px solid #000000; */
    border-radius: 20px;
    box-sizing: border-box;
    margin: 10px 1% 10px 1%;
    padding: 10px 1%;
    box-shadow: 0 4px 8px 0 rgba(51, 51, 51, 0.2);
    height: 350px;
}
.keunggulan img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 60%;
}
.keunggulan-exp {
    width: 100%;
    text-align: center;
    padding: 0 1% 0 1%;
}
.keunggulan-exp h3 {
    font-size: 18px;
    font-weight: bold;
}
*{margin:0px auto}
header {
    
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position: fixed;
  top: 0
  z-index: 10
  border-radius: 20px;
}
  
.header-logo {
    padding: 15px 20px;
    float: left;
    margin-left: 120px;
    cursor: pointer;
}
  
.logo-image {
    float: left;
    margin: 0 auto;
    width: 150px;
    border-style: none;
}
  
.header-list {
    display: inline;
}
  
.header-right {
    padding: 20px 25px;
    float: right;
    color: gray;
    font-size: 16px;
    cursor: pointer;
}
  
.header-right:hover {
    opacity: 0.6;
    color: rgb(108, 99, 255)
}
  
.login-btn {
    margin-right: 100px;
    background-color: rgb(108, 99, 255);
    color: white;
    border-radius: 6px;
    float: right;
    cursor: pointer;
    padding: 20px 25px;
    transition: 0.4s;
}
  
.login-btn:hover {
    color: white;
    background-color: rgba(108, 99, 255, 0.7);
}
  
.login-btn:active {
    position: relative;
    top: 7px;
}
*{margin:0px auto}
footer {
    width: 100%;
    position: fixed;
    height: auto;
    bottom: 0;
    background: rgb(19, 19, 19);
    color: rgb(255, 255, 255);
    padding: 10px 10px;
    font-size: 60%;
    font-family: 'Lucida Grande';
}
.row {
    width: auto;
    margin: left;
    display: flex;
    flex-wrap: wrap;
}
.col {
    flex-basis: auto;
    padding: auto;
    margin: left;
}
.col p {
    color: grey;
    padding: auto;
    margin-bottom: auto;
}
ul li {
    list-style: none;
    margin-bottom: auto;
}
ul li a {
    text-decoration: none;
    color: grey
}
.footer-bottom {
    background: rgb(24, 24, 24);
    color: white;
    text-align: center;
    width: auto;
}